
<div class="container m">

    <h1>To-Do Application</h1>
    
    <hr>

    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="mb-3">
          <label for="task" class="form-label">Task</label>
          <input
           type="email"
           class="form-control" 
           id="task" 
           placeholder="Enter task" 
           ngModel name="task"
           required>
          <div *ngIf="taskForm.invalid && taskForm.dirty" class="form-text text-danger">Required field!</div>
        </div>
        
        <button
        [disabled]="taskForm.invalid" 
        id="submitButton" type="submit" class="btn btn-primary">Submit</button>
      </form>

      <hr>

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let text of taskArray; index as i">
                <td>{{ text.taskName }}</td>
                <td><input (change)="onCheck(i)" type="checkbox" id="myCheckbox"></td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
            </tr>
        </tbody>
      </table>
</div>